
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')
        
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('p.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    /* Biar mungil, tambahkan scale di sini */
    transform: scale(0.9); s
    display: flex;
    flex-direction: column;
    align-items: center;
}
        
        .header {
            text-align: center;
            color: white;
            text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }
        
        
        .main-content {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
        
        .calculator {
            background-image: url('bg-calculator.jpg.jpg');
            border-radius: 50px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            width: 1000px;
            padding: 20px;
            max-width: 200;
            backdrop-filter: blur(50px);
            transform: scale(0.86);
            transform-origin: center;
            margin-top: 50px;
        }
        
        .display {
            background-color: #e37b90;
            color: white;
            border-radius: 30px;
            padding: 20px;
            text-align: right;
            margin-bottom: 20px;
            min-height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            word-break: break-all;
            overflow: hidden;
        }
        
        .previous-operand {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.7);
            min-height: 27px;
        }
        
        .current-operand {
            font-size: 4rem;
            font-weight: 300;
        }
        
        .buttons {
            display: grid;
            grid-template-columns: repeat(8, 2fr);
            gap: 15px;
            font-size: 20px;
        }
        
        button {
            border: none;
            padding: 35px 0;
            font-size: 27px;
            border-radius: 100px;
            cursor: pointer;
            transition: all 0.2s ease;
            font-weight: 600;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.211);
        }
        
        button:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        
        button:active {
            transform: translateY(1px);
        }
        
        .number, .decimal {
            background-color: rgba(224, 153, 185, 0.392);
            color: #333;
            font-family: Playfair Display;
            font-size: 30px;
            font-weight: bold;
        }
        
        .operator {
            background-color:rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
            font-size: 30px;
            font-weight: bold;
        }
        
        .equals {
            background-color: rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
            font-size: 30px;
            font-weight: bold;

        }
        
        .clear, .delete {
            background-color:rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            grid-column: span 2;
            font-family: Playfair Display;
            font-size: 30px;
        }

        .clear:hover {
            background-color:rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

        .delete:hover {
            background-color:rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

        .operator:hover, .equals:hover {
            background-color: rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

        .scientific {
            background-color: rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            padding: 30px 10px;
            font-family: Playfair Display;
            font-size: 30px;;

        }

        .scientific:hover {
            background-color:rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

         .mode-toggle {
            background-color: rgba(224, 153, 185, 0.392);
            font-size: 25px;
            padding: 10px;
            grid-column: span 8;
            margin-bottom: 10px;
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

        .mode-toggle:hover {
            background-color: rgba(224, 153, 185, 0.392);
            color: rgb(125, 10, 48);
            font-family: Playfair Display;
        }

        @media (max-width: 600px) {
            .calculator {
                padding: 15px;
            }
            
            .buttons {
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
            }

             .scientific {
                font-size: 20px;
                padding: 12px 5px;
                color: rgb(125, 10, 48);
                font-family: Playfair Display;
            }
            
            .current-operand {
                font-size: 20px;
                color: rgb(125, 10, 48);
                font-family: Playfair Display;
            }
            
            button {
                padding: 15px 8px;
                font-size: 20px;
                color: rgb(125, 10, 48);
                font-family: Playfair Display;
            }
        }










